<%- include('./partials/head') %>

<section class="container">
  <div class="right-half">
    <article>
      <p>
        <strong><%= member.name %> <%= member.surname %></strong><br /><br />19
        jaar en FDND <%= member.role %><br />Geboren op 06-02-2004<br />Woonplaats:
        Nieuw-Vennep<br />
      </p>
      <img src="/images/Fouad-Taissate.JPG" />
    </article>
  </div>
</section>
<section class="rest">
  <button type="button" class="collapsible">meer info</button>
  <div class="content">
    <h2>Skills</h2>
    <p>HTML, CSS</p>
    <h2>Hobbies</h2>
    <p>Mijn hobbies zijn anime, gamen en voetbal.</p>
    <ul>
      <li>rocket league player(grandchamp)</li>
      <li>
        osu! player
        <a href="https://osu.ppy.sh/users/26647605"
          >https://osu.ppy.sh/users/26647605</a
        >
      </li>
    </ul>
    <h2>Sociaal</h2>
    <ul>
      <li>
        <a href="https://steamcommunity.com/id/modous/"
          >https://steamcommunity.com/id/modous/</a
        >
      </li>
      <li>Discord: Fouad#3413</li>
    </ul>
  </div>
</section>
<script src="/script.js"></script>
<%- include('./partials/foot') %>
